``<%- include("partials/header"); -%>

<div class="card text-center ">
  <div class="card-header">
    GET INSPIRED
  </div>
  <div class="card-body">
    <h5 class="card-title">Inspirational Quotes on the go!</h5>
    <p class="card-text">Here you get inspirational quotes that will keep you soaring forward! We Move!!!.</p>
  </div>

</div>

<div class="container-fluid insp1">

  <div id="carouselExampleControls" class="carousel slide carcont" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://slp-statics.astockcdn.net/static_assets/staging/22spring/homepage/Card1_SLP_470853428.jpg?width=580&format=webp" class="carimage w-30" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1647519724515-25805711b315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" class="carimage w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1647519724515-25805711b315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" class="carimage w-50" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

<div class="container-fluid insp2">


</div>

<div class="container-fluid insp3">


</div>

<%- include("partials/footer"); -%>
