<%- include("partials/header") %>

  <div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">
      Goodbye!
      <img  src="https://c.tenor.com/WPJoFnJAjJIAAAAC/safa-credit-to-safa.gif" alt="Banku Image" />
      </h1>
      <hr>
    </div>
  </div>


<%- include("partials/footer") %>
